:root{
    --primary-color:rgb(33, 33, 45);
    --secondary-color: rgb(228, 213, 0);
    --font: 'Montserrat', sans-serif;

}

body{
    font-family: var(--font);
}

.content{ /* Div for create the scrolling effect*/
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
}

section{
    scroll-snap-align: start; /* Scroll effect*/
    height: 100vh;
}


/*------------------------HEADER------------------------*/

.navbar{
    background-image: url(../images/HeaderImg.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.248);
}

.navbar-brand{ /* Left side link */
    color: var(--primary-color);
    font-weight: 700;
    transition: 0.15s ease-in ;
}

.navbar-brand:hover{
    color: var(--secondary-color);
}

/*Right side links*/

.nav-link { /*Set up for create the underline Effect*/
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 0;
    margin: 0px 20px;
}

.nav-link:hover {
    color: var(--secondary-color);
}

.nav-link::before { /* Link underline */
    position: absolute;
    top: 20px;
    content: "";
    transition: 0.2s;
    height: 3px;
    background-color: var(--secondary-color);
    width: 0%;
    border-radius: 10px;
}

.nav-link:hover::before{
    width: 85%;
}

/*Link display when active page*/
.active{ 
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 0;
    margin: 0px 20px;
}

.active::before{
    position: absolute;
    top: 20px;
    content: "";
    height: 3px;
    background-color: var(--secondary-color);
    width: 85%;
    border-radius: 10px;
}



/*------------------------SHOWCASE------------------------*/

section#countdown{
    background-image: url(../images/home/playa.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

h1{
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.549);
}

.count{
    display: flex;
    flex-direction: row;

}

.block{
    background-color: rgba(14, 14, 14, 0.622);
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.684);
    border-radius: 10%;
    width: 150px;
}

.days{
    background-color: rgba(109, 109, 109, 0.511);
    border-radius: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    font-size: 50px;
}

.hours{
    background-color: rgba(109, 109, 109, 0.511);
    border-radius: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    font-size: 50px;
}

.minutes{
    background-color: rgba(109, 109, 109, 0.511);
    border-radius: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    font-size: 50px;
}

.seconds{
    background-color: rgba(109, 109, 109, 0.511);
    border-radius: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    font-size: 50px;
}